@{
    ViewData["Title"] = "Home Page";
}

@using LostInTheWoods.Models
@model LostInTheWoods.Models.Trail
<div class="siimple-grid">
    <a href="/Trails">View All Trails</a>
    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--5">
            <h3>@ViewBag.Trail.Name</h3>
            <h5>Description</h5>
            <p>@ViewBag.Trail.Description</p>
            <h5>Length</h5>
            <p>@ViewBag.Trail.Length miles</p>
            <h5>Elevation</h5>
            <p>@ViewBag.Trail.Elevation feet</p>
            <h5>Latitude</h5>
            <p>@ViewBag.Trail.Latitude</p>
            <h5>Longtitude</h5>
            <p>@ViewBag.Trail.Longitude</p>
        </div>
        <div class="siimple-grid-col siimple-grid-col--7">
            <div id="map">
                <script>
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: @ViewBag.Trail.Latitude, lng: @ViewBag.Trail.Longitude},
                    zoom: 8
                    });
                }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJJ-BTeQz4sjzLmx8QoV_8pRPFymxygHM&callback=initMap"
                async defer></script>
            </div>
        </div>
    </div>
</div>